<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Epic Task</title>
</head>
<body>

<h2>New Task</h2>

<form action="/task" method="post" th:object="${task}">
    <label for="title">Title</label>
    <input name="title" id="title" th:field="*{title}">
    <span th:errors="*{title}"></span>

    <label for="description">Description</label>
    <textarea name="description" id="description" th:field="*{description}"></textarea>
    <span th:errors="*{description}"></span>

    <label for="points">Points</label>
    <input type="range" min="10" max="100" name="points" id="points" th:field="*{points}">
    <span th:errors="*{points}"></span>

    <button>Create</button>
</form>

</body>
</html>